<mat-card class="book-card" (click)="navigateToDetails()">
  <img class="mat-card" mat-card-image [src]="book.urlImg" [alt]="book.title" />
  <mat-card-title>{{ book.title }}</mat-card-title>
  <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
  <mat-card-content>{{ book.description }}</mat-card-content>

  <mat-card-actions (click)="$event.stopPropagation()">
    <button mat-button color="primary" (click)="deleteBook(book.id)">Удалить</button>
    <button mat-button color="primary" (click)="updateBook(book)">Редактировать</button>
  </mat-card-actions>
</mat-card>
