.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 400px;
}

.example-full-width {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal {
  padding: 15px;
}

.title {
  margin: 0 0 10px;
}
